@charset "UTF-8";
/**
  Нормализация блочной модели
 */
@import url(https://fonts.googleapis.com/css?family=Sen:regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --black: #000;
  --level-1: #181823;
  --white: #fff;
  --purple: #5221e6;
  --light-grey: #8491a0;
  --dark-grey: #5b6876;
  --green-accent: #3cc74e;
  --blue-accent: #609bff;
  --pink-accent: #e95d90;
  --peach-accent: #fff3e4;
  --violet-accent: #fbe4ff;
  --font-family: "Sen", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --container-width: 1240px;
  --container-padding-x: 20px;
  --input-heigth:50px;
  --button-height: 75px;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  max-width: var(--container-width);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

.grid-container {
  display: grid;
}

.grid--2 {
  grid-template-columns: repeat(2, 1fr);
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 55px;
}
@media (max-width: 767px) {
  .title {
    font-size: 32px;
  }
}

.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

body {
  font-size: clamp(16px, 1.25vw, 18px);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.28;
  color: var(--white);
  background-color: var(--black);
  overflow-x: hidden;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

.button {
  border: 1px solid var(--purple);
  padding: 24px 32px;
  width: 247px;
  height: 75px;
  background-color: transparent;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--white);
}
@media (hover: hover) {
  .button:hover {
    background-color: var(--purple);
  }
}
@media (hover: none) {
  .button:active {
    background-color: var(--purple);
  }
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .burger-button:active {
    background-color: var(--color-accent);
  }
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 18px;
  height: 3px;
  background-color: #c4c4c4;
  border-radius: 5px;
  box-shadow: 8px 8px #c4c4c4;
}

.header {
  position: relative;
}
.header__blocks {
  width: 100%;
}
.header__blocks__block {
  background-color: var(--level-1);
  width: 900px;
  height: 900px;
  position: absolute;
  right: 0;
  z-index: -1;
  top: 0;
}
.header_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .header_inner {
    justify-content: space-evenly;
  }
}
@media (max-width: 767px) {
  .header__logo {
    padding-top: 30px;
  }
}
.header__menu {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--white);
}
.header__menu-list {
  display: flex;
  gap: 24px;
}
.header__menu-item {
  padding-top: 30px;
}
.header__menu-item--active {
  background-color: var(--purple);
  padding: 32px 24px;
  width: 109px;
  height: 88px;
}
@media (hover: hover) {
  .header__menu-item:hover {
    color: var(--blue-accent);
  }
}
@media (hover: none) {
  .header__menu-item:active {
    color: var(--blue-accent);
  }
}

.section {
  margin-bottom: 120px;
}
.section__peach-acccent {
  background-color: var(--peach-accent);
}
.section__violet-accent {
  background-color: var(--violet-accent);
}
.section__header {
  display: flex;
  flex-direction: column;
  -moz-column-gap: 12px;
       column-gap: 12px;
  justify-content: flex-start;
  width: 100%;
  margin-top: 120px;
  align-items: start;
  padding: 48px 20px;
}
.section__header:not(:last-child) {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .section__header:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .section__header {
    flex-direction: column;
    row-gap: 30px;
    text-align: start;
  }
}
.section__desc {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--light-grey);
  max-width: 580px;
  align-items: start;
}
.section__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 55px;
  color: var(--white);
}
@media (max-width: 767px) {
  .section__title {
    width: 320px;
    font-size: 32px;
  }
}
.section__info {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--light-grey);
  max-width: 368px;
  padding-top: 24px;
  width: 368px;
}

.section-hidden-x {
  overflow-x: hidden;
}

.hero {
  padding: 80px 40px;
  display: flex;
  position: relative;
  height: 814px;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 767px) {
  .hero {
    position: unset !important;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 20px;
  }
}
.hero__image {
  z-index: -1;
  position: absolute;
  align-self: self-start;
  top: 20%;
  left: 0;
}
@media (max-width: 767px) {
  .hero__image {
    width: 360px;
    height: 288px;
    align-self: flex-start;
    position: unset;
    padding-bottom: 48px;
    padding-top: 0;
  }
}
.hero_inner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  z-index: -2;
  padding-top: 221px;
  padding-right: 40px;
}
@media (max-width: 767px) {
  .hero_inner {
    gap: 16px;
  }
}
.hero__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 78px;
  color: var(--white);
  width: 738px;
}
.hero__title--opacity {
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 1023px) {
  .hero__title {
    font-size: 56px;
    padding-bottom: 32px;
    width: 408px;
  }
}
@media (max-width: 767px) {
  .hero__title {
    font-size: 32px;
    width: 320px;
    position: unset !important;
  }
}
.hero__desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--white);
  width: 738px;
}
@media (max-width: 1023px) {
  .hero__desc {
    width: 408px;
  }
}
@media (max-width: 767px) {
  .hero__desc {
    width: 320px;
  }
}

.companies__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 55px;
  margin-top: 40px;
  margin-bottom: 120px;
}
@media (max-width: 767px) {
  .companies__list {
    flex-direction: column;
    padding: 20px;
  }
}
.companies__item {
  display: flex;
  flex-direction: column;
  gap: 22px;
  justify-content: flex-start;
}
.companies__item__number {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 117px;
  color: var(--light-grey);
}
.companies__item__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: var(--white);
}
.companies__item__title--color-green {
  color: var(--green-accent);
}
.companies__item__title--color-blue {
  color: var(--blue-accent);
}
.companies__item__title--color-pink {
  color: var(--pink-accent);
}
.companies__item__desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--light-grey);
}

.minimalistic-section {
  height: 600px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .minimalistic-section {
    flex-direction: column;
  }
}

.minimalistic-section__inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 576px;
  padding-top: 120px;
  justify-content: center;
  padding-right: 44px;
}
@media (max-width: 1023px) {
  .minimalistic-section__inner {
    padding-top: 120px;
    padding-left: 44px;
    padding-right: 44px;
  }
}
@media (max-width: 767px) {
  .minimalistic-section__inner {
    padding-top: 48px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 48px;
  }
}

.minimalistic-section__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 55px;
  color: var(--level-1);
}
@media (max-width: 767px) {
  .minimalistic-section__title {
    font-size: 32px;
  }
}

.minimalistic-section__desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--dark-grey);
  margin-bottom: 110px;
}
@media (max-width: 767px) {
  .minimalistic-section__desc {
    margin-bottom: 40px;
  }
}

.minimalistic-section__link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--level-1);
  margin-bottom: 120px;
}
.minimalistic-section__link a {
  border-bottom: 1px solid var(--light-grey);
  padding-bottom: 4px;
}
@media (max-width: 1023px) {
  .minimalistic-section__link__image {
    width: 384px;
    height: 600px;
  }
}
@media (max-width: 767px) {
  .minimalistic-section__link {
    margin-bottom: 0;
  }
}

@media (max-width: 1023px) {
  .skillset {
    display: flex;
    flex-direction: column;
  }
}
.skillset__info {
  display: flex;
  flex-direction: column;
  -moz-column-gap: 12px;
       column-gap: 12px;
  justify-content: flex-start;
  width: 100%;
  margin-top: 120px;
  align-items: start;
  padding: 48px 20px;
}
@media (max-width: 767px) {
  .skillset__info {
    margin-top: 120px;
  }
}
.skillset__info-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 55px;
  color: var(--white);
}
@media (max-width: 767px) {
  .skillset__info-title {
    font-size: 32px;
  }
}
.skillset__info-desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--light-grey);
  width: 368px;
  padding-top: 24px;
}
@media (max-width: 1023px) {
  .skillset__info-desc {
    width: 100%;
  }
}
.skillset__inner {
  display: grid;
  grid-template-columns: repeat(2, 416px);
  gap: 72px;
  margin-top: 120px;
  padding: 48px 72px;
  width: 100%;
}
@media (max-width: 767px) {
  .skillset__inner {
    display: flex;
    flex-direction: column;
    padding: 64px 20px;
  }
}
.skillset__card {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.skillset__card-desc {
  max-width: 368px;
}

.skillset__icon__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 120px;
}
@media (max-width: 1023px) {
  .skillset__icon__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.skillset__icon__item {
  padding: 55px 128px;
  border: 1px solid var(--level-1);
  min-width: 340px;
}
@media (max-width: 767px) {
  .skillset__icon__item {
    min-width: 180px;
    padding: 40px;
    overflow-x: hidden;
  }
}

.projects {
  margin-top: 120px;
  margin-bottom: 153px;
  gap: 24px;
}
@media (max-width: 1023px) {
  .projects {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
  }
}
.projects__block {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: center;
}
.projects__info {
  height: 221px;
}
@media (max-width: 1023px) {
  .projects__info {
    padding: 80px 40px;
  }
}
@media (max-width: 767px) {
  .projects__info {
    padding: 64px 20px;
  }
}
.projects__info-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--light-grey);
}
.projects__info-desc {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 55px;
  color: var(--white);
}
@media (max-width: 767px) {
  .projects__info-desc {
    font-size: 32px;
  }
}
.projects__button {
  height: 221px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-card {
  margin: 20px;
  background-color: var(--level-1);
}
@media (max-width: 1023px) {
  .block-card__image {
    width: 688px;
    min-width: 100%;
  }
}
@media (max-width: 767px) {
  .block-card__image {
    width: 100%;
    height: 400px;
    min-width: 100%;
  }
}
.block-card__inner {
  padding: 40px 32px;
}
.block-card__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: var(--white);
  margin-bottom: 12px;
}
.block-card__desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--light-grey);
}

.dribbble {
  margin-top: 120px;
}
.dribbble__inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 767px) {
  .dribbble__inner {
    margin-top: 64px;
  }
}
@media (max-width: 1023px) {
  .dribbble__inner {
    padding-left: 44px;
    padding-right: 44px;
  }
}
.dribbble__inner--image {
  width: 100%;
}
@media (max-width: 1023px) {
  .dribbble__inner--image img {
    min-width: 100%;
  }
}
@media (max-width: 767px) {
  .dribbble__inner--image img {
    width: 100%;
    min-width: 320px;
    height: auto;
  }
}
.dribbble__inner--link {
  margin-bottom: 96px;
}
.dribbble__inner--link a {
  border-bottom: 1px solid var(--light) !important;
  padding-bottom: 4px;
}
.dribbble__inner--desc {
  color: var(--light-grey);
  max-width: 636px;
}

.about-me {
  -moz-column-gap: 72px;
       column-gap: 72px;
}
@media (max-width: 767px) {
  .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 64px;
  }
}

.about-me__inner {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
@media (max-width: 1023px) {
  .about-me__inner {
    row-gap: 10px;
  }
}
.about-me__inner--desc {
  color: var(--light-grey);
}

.about-me__cards {
  display: flex;
  flex-direction: column;
  row-gap: 120px;
}

.about-me__card {
  max-width: 636px;
  border: 1px solid var(--dark-grey);
}
@media (max-width: 1023px) {
  .about-me__card {
    max-width: 332px;
    width: 100%;
  }
}
.about-me__card__inner {
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
@media (max-width: 1023px) {
  .about-me__card__inner {
    padding: 32px;
  }
}
.about-me__card--image {
  padding: 0;
}
.about-me__card--autor {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: var(--dark-grey);
  line-height: 4px;
}

.photography__inner {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding-bottom: 64px;
}
.photography__inner--desc {
  color: var(--light-grey);
  width: 50%;
}
@media (max-width: 1023px) {
  .photography__inner--desc {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .photography__inner--desc--desc {
    max-width: 320px;
  }
}
.photography__buttons {
  display: flex;
  width: 490px;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media (max-width: 767px) {
  .photography__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}
.photography__button {
  height: 51px;
  padding: 12px 16px;
}

.gallery {
  margin-top: 40px;
}
.gallery__image {
  width: 306px;
  height: 420px;
}
@media (max-width: 1023px) {
  .gallery__image {
    width: 332px;
    height: 420px;
  }
}
.gallery__list {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media (max-width: 1023px) {
  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
}
@media (max-width: 767px) {
  .gallery__list {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1023px) {
  .gallery__item {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .gallery__item {
    display: flex;
    justify-content: center;
  }
}

.started {
  gap: 24px;
}
@media (max-width: 767px) {
  .started {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.started__desc {
  color: var(--light-grey);
}
@media (max-width: 767px) {
  .started__desc {
    max-width: 320px;
  }
}
.started__form {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.started__form__field {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.started__form__button {
  padding: 24px 32px;
  width: 526px;
  height: 75px;
  background-color: var(--purple);
}
@media (hover: hover) {
  .started__form__button:hover {
    opacity: 0.5;
  }
}
@media (hover: none) {
  .started__form__button:active {
    opacity: 0.5;
  }
}
@media (max-width: 1023px) {
  .started__form__button {
    width: 332px;
  }
}
@media (max-width: 767px) {
  .started__form__button {
    width: 320px;
  }
}

.field__label {
  font-family: var(--font-family);
}
.field__input {
  width: 526px;
  height: 50px;
  background-color: var(--level-1);
  border: none;
  color: var(--white);
}
.field__input--textarea {
  height: 100px;
  padding-block: 18px;
  resize: vertical;
}
@media (max-width: 767px) {
  .field__input--textarea {
    height: 132px;
  }
}
@media (hover: hover) {
  .field__input:hover {
    background-color: var(--dark-grey);
  }
}
@media (hover: none) {
  .field__input:active {
    background-color: var(--dark-grey);
  }
}
@media (max-width: 1023px) {
  .field__input {
    width: 332px;
  }
}
@media (max-width: 767px) {
  .field__input {
    width: 320px;
  }
}

.footer {
  height: 422px;
  min-width: 100%;
  background-color: var(--level-1);
  padding-bottom: 80px;
  padding-top: 80px;
}
@media (max-width: 1023px) {
  .footer {
    min-width: 100%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .footer__inner {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
  }
}
.footer__header {
  padding: 0 72px;
}
@media (max-width: 1023px) {
  .footer__header {
    padding: 0 40px;
  }
}
.footer__soc1al__list {
  display: flex;
  padding-top: 32px;
  -moz-column-gap: 16px;
       column-gap: 16px;
  align-items: center;
}
@media (hover: hover) {
  .footer__soc1al__link:hover {
    color: var(--blue-accent);
  }
}
@media (hover: none) {
  .footer__soc1al__link:active {
    color: var(--blue-accent);
  }
}
.footer__body {
  padding: 0 72px;
}
@media (max-width: 1023px) {
  .footer__body {
    padding: 0 40px;
  }
}
.footer_navigation__list {
  row-gap: 48px;
}
@media (max-width: 767px) {
  .footer_navigation__list {
    display: flex;
    flex-direction: column;
  }
}
@media (hover: hover) {
  .footer_navigation__link:hover {
    color: var(--blue-accent);
  }
}
@media (hover: none) {
  .footer_navigation__link:active {
    color: var(--blue-accent);
  }
}
.footer__copyright {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--light-grey);
  padding-left: 80px;
}
@media (max-width: 1023px) {
  .footer__copyright {
    max-width: 291px;
    padding-left: 40px;
  }
}/*# sourceMappingURL=style.css.map */