.section{
    // padding-block: var(--section-padding-y);

    &__peach-acccent{
        background-color:  var(--peach-accent);
    }
    &__header{
        display: flex;
        flex-direction: column;
        column-gap: 12px ;
        justify-content: flex-start;
        width: 100%;
        margin-top: 120px;
        align-items: start;
        padding: 48px 20px;
        
        &:not(:last-child){
            margin-bottom: 0;
            @include mobile{
                margin-bottom: 40px;
            }
        }

        @include mobile{
            flex-direction: column;
            row-gap: 30px;
            text-align: start;
        }
    }

    &__desc{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        text-transform: uppercase;
        color: var(--light-grey);
        max-width: 580px;
        align-items: start;
    }

    &__title{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 55px;
        color: var(--white);
        // width: 689px;

        @include mobile{
            width: 320px;
            font-size: 32px;
         
        }
    }
    &__info{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: var(--light-grey);
        max-width: 368px;
        padding-top: 24px;
        width: 368px;
    }
}
.section-hidden-x{
    overflow-x: hidden;
}
