:root{
    --black: #000;
	--level-1: #181823;
	--white: #fff;
	--purple: #5221e6;
	--light-grey: #8491a0;
	--dark-grey: #5b6876;
	--green-accent: #3cc74e;
	--blue-accent: #609bff;
	--pink-accent: #e95d90;
	--peach-accent: #fff3e4;
	--violet-accent: #fbe4ff;

    --font-family: "Sen", sans-serif;
  --second-family: "Montserrat", sans-serif;


  --container-width: 1240px;
  --container-padding-x: 20px;


//   --section-padding-y: 70px;

  --input-heigth:50px;
  --button-height: 75px;

  --transition-duration: 0.2s;
}